<div class="splash-5" id="problem" style="padding:95px 0 95px 0">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="center-text header-black">
                <p class="standard-text" style=" text-align:center" style="margin-top:0px"> 
                     <p style="color:#7ecefd">5plus would like to thank the following organizaitons for their support</p>
                
            </div>
        </div>
    </div>