 <div style="padding: 20px 0 20px 0; background:#2f3439">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br> 
            <div style="padding-left:15%; margin-top:0px">

                <%= link_to(image_tag('buttons/fb.png', size:'60x60',), 'https://www.facebook.com/5plustherapy') %>
                <%= link_to(image_tag('buttons/twitter.png', size:'60x60',), 'https://www.twitter.com/5plustherapy') %>
                <%= link_to(image_tag('buttons/youtube.png', size:'60x60',), 'https://www.youtube.com' )%>
                
            </div>
    <div>