       <div id="founders-block"> 
          <div class="third" >
            <img class="img-circle" alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/kourosh.png">
            
            <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Kourosh Parsapour</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">MD MBA</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">Founder</p>
            <%= link_to(image_tag('buttons/linkedin.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/kourosh-parsapour-md-mba/11/70/679')%>
          </div><!-- /.third -->
     
           <div class="third" >
            <img class="img-circle"  alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/Bill.jpg">
            
            <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Bill Spath</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">MBA</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">Founder</p>
            <%= link_to(image_tag('buttons/linkedin.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/bill -spath/6/206/74a')%>

          </div><!-- /.third -->
        
        <div class="third" >
            <img class="img-circle" alt="140x140" style="width: 180px; height: 180px; display: block; margin-left: auto;margin-right: auto" src="assets/headshots/gregorij.png">
            
           <p class="header-white-small center-text" style="color:black; padding: 10px 0 0px 0">Gregorij Kurillo</p>
            <p class="standard-text center-text" style="color:black; padding 0px 10px 0px 0px; margin:0px 0px 0px 0px">PhD</p>
            <p class="standard-text center-text" style="color:black; font-weight:bold; padding: 0px 0px 0px 0px">Lead Engineer</p>
            <%= link_to(image_tag('buttons/linkedin.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"),'http://www.linkedin.com/profile/view?id=23960600&locale=en_US&trk=tyah2')%>
          </div><!-- /.third -->
        </div>
         
