       <div id="founders-block"> 
          <div class="third" >
            <img class="img-circle prof-pic" alt="140x140"  src="assets/headshots/kourosh.png">
            
            <p class="header-white-small center-text prof-name">Kourosh Parsapour</p>
            <p class="standard-text center-text prof-t" >MD MBA</p>
            <p class="standard-text center-text prof-d">Co-founder & CEO</p>
            <%= link_to(image_tag('buttons/linkedin.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/kourosh-parsapour-md-mba/11/70/679')%>
          </div><!-- /.third -->
     
           <div class="third" >
            <img class="img-circle prof-pic"  alt="140x140" src="assets/headshots/Bill.jpg">
            
            <p class="header-white-small center-text prof-name" >Bill Spath</p>
            <p class="standard-text center-text prof-t">MBA</p>
            <p class="standard-text center-text prof-d" >Co-founder</p>
            <%= link_to(image_tag('buttons/linkedin.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"), 'http://www.linkedin.com/pub/bill -spath/6/206/74a')%>

          </div><!-- /.third -->
        
        <div class="third" >
            <img class="img-circle prof-pic" alt="140x140" src="assets/headshots/gregorij.png">
            
           <p class="header-white-small center-text prof-name" >Gregorij Kurillo</p>
            <p class="standard-text center-text prof-t" >PhD</p>
            <p class="standard-text center-text prof-d" >Lead Engineer</p>
            <%= link_to(image_tag('buttons/linkedin.png', size:'60x60', :style=>" margin-left:auto; margin-right:auto; display:block"),'http://www.linkedin.com/profile/view?id=23960600&locale=en_US&trk=tyah2')%>
          </div><!-- /.third -->
        </div>
         
