<div id="home" class=" color-1" style="padding-bottom:95px">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px" >
            </br>
            <div class="center-text">
                <p class="header-white-large" style="margin:0px 0; ">
                    Making physical therapy more efficient.
                </p>
                <p class="header-white-small" style="margin:20px 0;  ">•••</p>
                <p class="header-white-small" style="margin:20px 0;  ">
                Kinect enabled digital health tools promise more physical therapy at a lower cost</p>
                
            </div>
        

            <div id="selling-points" class="offset1" style="padding:30px 0px 0px 0px">
                <div style="pull-left">
                     <div class="span4" >
                        <ul class="big-list">
                          <li style="margin-top:10px;"><i class="icon-bolt" style="color:black"></i><p class="header-white-small" >10x faster</p></li>
                          <li style="margin-top:10px"><i class="icon-group" style="color:black"></i><p class="header-white-small" style="font-size:20pt;  ">See more patients</p></li>
                          <li style="margin-top:10px"><i class="icon-time" style="color:black"></i><p class="header-white-small" style="font-size:20pt;  ">More treatment time</p></li>
                          <li style="margin-top:10px"><i class="icon-credit-card" style="color:black"></i><p class="header-white-small" style="font-size:20pt; line-height:25pt ">Easy to learn & affordable</p></li>
                          
                          <li style="margin-top:35px"><i class="icon-user-md" style="color:black"></i><p class="header-white-small" style="font-size:20pt;  ">Clinically validated</p></li>
                        </ul>
                    </br>
                        <a href="#problem"class="scroll btn btn-large btn-centered" style="background:#2185c5"><p class="header-white-small" style="font-size:20pt; ; background:#2185c5 "><i class="icon-caret-down"></i> Learn more</p></a>
                    </div>
                </div>


                <div>
                    <div class="span7">
                        <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                        </video>
                    </div>
                </div>


                 
            </div>
        </div>
	</div>