 <body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">

<header class="navbar navbar-fixed-top" style="height:60px; min-width:1100px">
	<div class="inner-page">
          <h1 class="logo"><%=link_to(image_tag('/assets/logos/5plus-logo-long-transparent.png', size:'250x40', :style=>'margin-top:5px'), "#home")%> </h1>
            <div id="nav" style="min-width:1100px" >
              <ul class="nav" style="height:60px;">
                <li class="active" ><a title="Home page" class="scroll brand-2" id="hbut" href="#home" style=" height:60px"><p class="rory-nav-text">Home</p></a></li>
                <li><a title="Check out our awesome services" href="#problem" class="scroll brand-2" style="height:60px"><p class="rory-nav-text">Problem</p></a></li>
                <li><a title="The Solution" href="#solution" class="scroll brand-2" style="height:60px"><p class="rory-nav-text">Solution</p></a></li>
                <li><a title="Meet Us" href="#team" class="scroll brand-2" style="height:60px"><p class="rory-nav-text">Team</p></a></li>

               <li><a title="Meet Us" href="#contact" class="scroll brand-2" style="height:60px"><p class="rory-nav-text">Contact</p></a></li>
                <li><a title="Get in touch!" id="beta" class="scroll brand-2" style="height:60px"><p class="rory-nav-text" style="font-weight:bold; font-size:18pt">BETA</p></a></li>
            </ul>
        </div>
    </div>
</header>