<div class="color-1"style="padding-top:30px; padding-bottom:30px">
    <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
        </br>
        <div class="span11 center-text" style="padding: 0 0 0 15%">

            <h1 class="header-white" style="margin-top:0px">
                Publications in Scientific Journals and Clinical Evidence to Support the MFAsT
            </h1>
            <a href="http://www.google.com" class="scroll btn btn-large btn-centered span3 offset4" style="padding-top:10px; background:#196494"><p class="header-white-small" style="font-size:20pt; font-weight:bold; background:#196494">Here</p></a>
        </div>
    </div>
</div>