<div id="home" class=" splash-1" style="padding-bottom:95px">
        <div class="row-fluid container">
            </br>
            <div class="center-text">
                <h1 class="header" style="margin:0px 0;">
                    Making physical therapy more efficient.
                </h1>
                <h3 style="margin:0px 0;">•••</br>
                Kinect enabled digital health tools promise more physical therapy at a lower cost</h3>
                <div class="span8 offset2" style="padding-top:0px">
                    <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque eget libero a congue. Vivamus arcu orci, tempus sed nunc consectetur, laoreet imperdiet massa. Praesent nec ultrices dui, eu pellentesque libero.
                </h4>
                </div>
            </div>
        

            <div id="selling-points" style="margin-right:150px; margin-left:150px">


                <div style="pull-left">
                     <div class="span5">
                        <ul class="big-list">
                          <li style="margin-top:10px;"><i class="icon-bolt"></i>10x faster</li>
                          <li style="margin-top:10px"><i class="icon-group"></i>See more patients</li>
                          <li style="margin-top:10px"><i class="icon-time"></i>More treatment time</li>
                          <li style="margin-top:10px"><i class="icon-credit-card"></i>Easy to learn & affordable</li>
                          
                          <li style="margin-top:10px"><i class="icon-user-md"></i>Clinically validated</li>
                        </ul>
                    </br>
                        <a href="#problem" title="Check out more freatures!" class="scroll btn btn-centered"><i class="icon-caret-down"></i> Learn more</a>
                    </div>
                </div>


                <div style="pull-right">
                    <div class="span4">
                        <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" >
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                        </video>
                    </div>
                </div>


                 
            </div>
        </div>
	</div>