<div  class='splash-2' id="problem" class="panel-common" style="min-width:1050px;">

    <div class="row-fluid container no-pad" >
        </br>
        <div class="portion-container">
            <div class="center-text">
                <h1 class="header-large black heading-center">
                    Problems slowing down physical therapy.
                </h1>
            </div>    
        </div>



            



        <div class="portion-container" style="height:400px; padding-left:0px; margin-bottom:130px" >
            <div class="third" style=" height:500px;vertical-align:top">   
                <div style="display:block; margin-left:auto; margin-right:auto;text-align:center">
                 <%= image_tag('icons/PatientsInfographic-03.png', :size => '275x275', )%>
             </div>
                <p class= "header-small black" style="text-align:center; font-weight:normal; margin-top:20px">1. Too many patients. <br> Too few therapists. </p>
                <p class="standardText" > 
                      There are not enough physical and occupational therapists to see the growing demand of 9 million Americans requiring outpatient physical therapy.
                     </p> 
            </div>
            <div class="third" style=" height:500px; vertical-align:top">
                 <div style="display:block; margin-left:auto; margin-right:auto;text-align:center; ">
                    <%= image_tag('icons/PatientsInfographic-06.png', :size => '275x275',)%>
                </div>
                <p class= "header-small black" style="text-align:center; font-weight:normal; margin-top:20px">2. Current process is outdated.</p>
                 <p class="standardText ">
                   Up until now, the only way to measure a joint's range-of-motion was a goniometer, a protractor-like tool that was invented over 300 years ago.  The need to manually measure, record and enter the angles of movement is one of the most cumbersome steps for an accurate evaluation. 
                </p>
            </div>
            <div class="third" style="height:500px; vertical-align:top">
                 <div style="display:block; margin-left:auto; margin-right:auto;text-align:center">
                <%= image_tag('icons/PatientsInfographic-08.png', :size => '275x275')%>
                </div>
                 <p class= "header-small black" style="text-align:center; font-weight:normal; margin-top:20px">3. Coding, reporting, & billing.</p>
                 <p class="standardText " >
                    Newly required "G-codes" and functional limitation/impairment reports are confusing and complex which takes the therapists' time away from the patients.</p>
            </div>
            </div>


            <div class="portion-container" style="padding-bottom:0px" >

                <div class="center-text">
                <h1 class="header-large black nc-1">
                    Revolutionizing physical therapy.
                </h1>
                </div>
            </div>
            <div class="portion-container h-320" style="padding-top:0px">
               
                    <div class="half h-320" >
                    <p class= "header-small black" style="margin: 0px 0px 20px 0px;">
                        Our clinical solutions have been invented and validated by experts in physical medicine & rehabilitation, telehealth, computer and electrical engineering, and orthopedic medical devices.</p>
                    <br>
                       
                    </div>

                <div class="half h-320" >
                    <%= image_tag('logos/transparent.gif', :style=> 'display:inline-block;margin-left:20%; padding-bottom:250px') %>
                    
                </div>
            </div>
        </div>
    </div>
</div>