<div class="splash-2" id="problem" style="padding:30px 0 30px 0">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="center-text">
                <h1 class="header-black-large" style=" text-align:center" style="margin-top:0px">
                    The Problem
                </h1>
            </div>


            <div id="icon-filler" class="portion-container" >
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
            </div>

            <div class="portion-container">
                <div class= "third">
                    <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Too many patients. <br>Too few physical therapists.</p>

                    <p class="standardText">
                       <span style="font-weight:bold"> 2004:</span><br>Outpatients: 3.7 million <br>Physical Therapists: 148,000</p>
                    <p class="standardText"><span style="font-weight:bold">2013:</span><br>Outpatients: 5.4 million <br>Physical Therapists: 158,000
                    </p>
                </div>
                

                <div class= "third">
                    <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Current process is outdated.</p>

                    <p class="standardText">
                        The goniometer is an outdated medical tool. It inhibits the speed of data collection, as each joint's range of motion must be manually measured.</p>
                    <p class="standardText">
                        It can take 30 minutes to collect *full body range of motion data*.
                    </p>
                   
                </div>

                <div class= "third" >
                    <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Coding, billing, and reporting.</p>
                    <p class="standardText">
                        In 2013, CMS mandated quantified measurement and functional status reports for payment. </p>
                    <p class="standardText">Medical records and insurance forms quickly make for an inefficient and labor intensive distribution.</p>   
                </div>
            </div>

            <div class="portion-container">
                <div class="third">
                    <p class="header-white-large" style="margin:20px 0px 20px 0px; color:black; text-align:normal">
                    It's time for change
                    </p>
                    <br>
                    <p class="standardText">
                        Our clinical solutions have been invented and validated by experts in physical medicine & rehabilitation, telehealth, computer and electrical engineering, and orthopedic medical devices.</p>
                </div>

                <div class="two-third" style="background:#3e454c; height:330px; margin-top:20px">
                    
                </div>
            </div>
        </div>
    </div>