<div id="team" class="splash-2" style="padding: 30px 0 30px 0; min-width:1350px;">
        <div class="row-fluid container " style="padding-top:0px; padding-bottom:0px;">
            </br>
            <div class="center-text " >
                <h1 class="header-large black " style=" text-align:center" style="margin-top:0px">
                    Who we are and how it all got started.
                </h1>
            </div>

            <div class="portion-container"  >
                <div class="third" style="width:80%; padding-left:7%; ">
                
                    <p class="standardText" style="text-align:center;">
                        The MFAsT grew from the ideas and inventions of Dr. Jay Han and Dr. Gregorij Kurillo at UC Davis & UC Berkeley.  In 2007, they had transformed the state-of-the-art motion capture technology used in film and video-games into an accessible and portable tool to accurately measure a joint’s range-of-motion and function.  After the release of Microsoft’s Kinect, this “motion and function assessment tool” became more affordable and accessible.  Dr. Kourosh Parsapour, a colleague of Dr. Han's from UC Davis' Center for Health & Technology, along with Bill Spath started 5plus with the goal of developing digital health tools to provide better physical therapy at a lower cost to both therapists and patients.</p>
                        
                    
                </div>

                
                    </div>
                    <div class="portion-container" style="padding-top:50px" >


                        <div class="third" style='padding-top:0px; padding-left:7%'>
                        <%= image_tag('icons/StickmanGraphic.png', :style => 'background:#3e454c; padding-top:30px;', :align => 'middle')%>
                    </div>
                    <div class="two-third" style="width:50%; vertical-align: middle" >

                    <p class="standardText" style="margin-top: auto">

                        Muscle strength is often rated on a scale of 0-5.  Reflexes are often graded by a series of + signs which are used to assess the health of the nervous system.  As 5+ has come to signify the best neuromusculoskeletal health in shorthand, 5plus strives to be the best-in-class company serving the needs of the patients, providers, and payers.
                        </p>
                        
                    
                  
                </div>
            </div>


            <div class="portion-container">
                
                <div id="team1">
             
                            <div style="display:inline-block;margin-left:25% ">

                              
                            <div id='founders' class='button blue-button' style="display:inline-block;">
                            <p class="header-small white" style="font-size:20pt; font-weight:bold; text-align:center; padding-top:10px">The Team</p>
                          </div>
                          <div id='advisors' class='button blue-button' style=" margin-bottom:20px; display:inline-block; margin-left:20px">
                            <p class="header-small white" style="font-size:20pt; font-weight:bold; text-align:center; padding-top:10px;;">The Advisors</p>
                          </div>
                        </div>


                        <div id="team" >
                            <%= render "/staticpages/foundingTeam" %>
                            <%= render "/staticpages/advisors" %>
                        </div>
        
                </div>
            </div>    
        </div>
    </div>