<div class="color-1"style="padding-top:30px; padding-bottom:30px">
    <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
        </br>
        <div class="span11 center-text" style="padding: 0 0 0 15%">

            <h1 class="header-white" style="margin-top:0px">
                Publications in scientific journals and clinical evidence to support the MFAsT<span class="tm">&#8482</span>
            </h1>
            
            	<div class="button offset4">
            		<p class="header-white-small button-text" id="publications">Here</p>
            	</div>
            
        </div>
    </div>
</div>