<div class="splash-3"style="padding-top:95px; padding-bottom:95px">
    <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
        </br>
        <div class="span8 offset2 center-text">

            <h1 class="header-black" style="margin:0px 0px 30px 0px text-align:center">
                Want to learn more? Check out a complete technological breakdown of the MFAsT
            </h1>
            <a href="http://www.google.com" class="scroll btn btn-large btn-centered span3 offset4 splash-1" style="padding-top:10px"><p class="header-white-small splash1" style="font-size:20pt; font-weight:bold;  ">Here</p></a>
        </div>
    </div>
</div>