<div  id="solution" style="padding:30px 0 30px 0">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="center-text">
                <h1 class="header-black" style=" text-align:center" style="margin-top:0px">
                    Introducing MFAsT<span style='font-size:33pt' >&#8482</span>
                </h1>
                
            </div>




        <div class="portion-container" >
            <div class="third">
                <p class="header-white-large" style=" color:black; text-align:normal; margin-top:0px">
                MFAsT is efficient and clinically validated.
                </p>
                <br>
                <p class="standardText">
                    Range of motion evaluation automatically correlates to activities of daily life (ADL).</p>
                <p class="standardText">
                    Diagnostic software delivers an intuitive 3D graph of patients’ function and improvement to make assessments more engaging and therapy more compelling.</p>
            </div>

            <div class="two-third" >
                <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                    <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                </video>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
       <div id="icon-filler" class="portion-container" >
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
            </div>


        

        <div class="portion-container" >
            <div class= "third">
                <div style="vertical-align:top">
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Fast</p>

                <p class="standardText center-text">
                    2 minutes vs. 30 minutes
                </p>
                

               
                </div>
            </div>
                

            <div class= "third">
                <p class= "header-white-small" style="margin: 30px 0px 20px 30px; color:black; text-align:center; font-weight:normal">Accurate & reliable</p>

                <p class="standardText center-text">
                    Validated against motion capture measurements and standard goniometry</p>
              
            </div>

            <div class= "third" >
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Workflow ready</p>
                <p class="standardText center-text">
                    Seamlessly integrates into daily practice and easy to use</p>
            </div>
        </div>


        <div id="icon-filler" class="portion-container" >
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
                <div style="background:#3e454c; height:300px; width:28%; margin:0 2% 0 2%; display:inline-block">
                </div>
            </div>
        

        <div class="portion-container" >
            <div class= "third">
                <div style="vertical-align:top">
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Less paperwork</p>

                <p class="standardText center-text">
                    Autopopulating insurance forms, progress notes and reports
                </p>
                

               
                </div>
            </div>
                

            <div class= "third">
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Less billing errors</p>

                <p class="standardText center-text">
                    Point of care reporting as G-Codes, severity modifiers and functional limitations</p>
              
            </div>

            <div class= "third" >
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Engaging</p>
                <p class="standardText center-text">
                    Intuiitve 3D graphs allow patients and providers to interact with measurements like never before</p>
            </div>
        </div>
    </div>

</div>