<div class="splash-2 color-1"style="padding-top:30px; padding-bottom:30px; min-width:1350px;">
    <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
        </br>
        <div class="portion-container" style="text-align:center">

            <h1 class="header white" style="margin-top:0px">
                Publications in scientific journals and clinical evidence to support the MFAsT<span class="tm">&#8482</span>
            </h1>
            
            	<div class="button blue-button" id="publications" style="margin-left:auto; margin-right:auto">
            		<p class="header-small white button-text" >Here</p>
            	</div>
            
        </div>
    </div>
</div>