<div  class='splash-2' id="problem" style="padding:30px 0 30px 0; ">

        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px; ">
            </br>
            <div class="portion-container">
            <div class="center-text">
                <h1 class="header-large black" style=" text-align:center; margin-top:0px">
                    Problems slowing down physical therapy.
                </h1>
            </div>
                
            </div>



            <div id="icon-filler" class="portion-container"  >
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-03.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-06.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-08.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
            </div>



            <div class="portion-container" style="padding-top:0px">
            <div class= "third">
                <p class= "header-small black" style="margin: 0px 0px 20px 0px; text-align:center; font-weight:normal">1. Too many patients. <br>Too few therapists.</p>
            </div>
            <div class= "third">
                <p class= "header-small black" style="margin: 0px 0px 20px 0px; text-align:center; font-weight:normal">2. Current process is outdated.</p>
            </div>
            <div class= "third">
                <p class= "header-small black" style="margin: 0px 0px 20px 0px; text-align:center; font-weight:normal">3. Coding, reporting, & billing.</p>
            </div>
        </div>


            <div class="portion-container" style="padding-top:0px; ">
                <div class= "third" style="display: table-cell;" >
                    
                    <p class="standardText">
                       There are not enough physical and occupational therapists to see the growing demand of 9 million Americans requiring outpatient physical therapy.   </p>
                    
                      
                </div>
                

                <div class= "third" style="margin-left: 2%;display: table-cell;">
                    
                    <p class="standardText">
                        Up until now, the only way to measure a joint's range-of-motion was a goniometer, a protractor-like tool that was invented over 300 years ago.  The need to manually measure, record and enter the angles of movement is one of the most cumbersome steps for an accurate evaluation. 
                    </p>
                   
                </div>

                <div class= "third"  style="display: table-cell;">
                   
                    <p class="standardText">
                        Newly required "G-codes" and functional limitation/impairment reports are confusing and complex which takes the therapists' time away from the patients. </p>   
                </div>
            </div>

            <div class="portion-container" style="padding-bottom:0px" >

                <div class="center-text">
                <h1 class="header-large black" style=" text-align:center;margin-top:0px;margin-bottom:0px">
                    Revolutionizing physical therapy.
                </h1>
                </div>
            </div>
            <div class="portion-container" style="height:320px;padding-top:0px">
               
                    <div class="half" style="height:320px;">
                    <p class= "header-small black" style="margin: 0px 0px 20px 0px;">
                        Our clinical solutions have been invented and validated by experts in physical medicine & rehabilitation, telehealth, computer and electrical engineering, and orthopedic medical devices.</p>
                    <br>
                       
                    </div>

                <div class="half" style="height:320px;">
                    <%= image_tag('logos/transparent.gif', :style=> 'display:inline-block;margin-left:20%; padding-bottom:250px') %>
                    
                </div>
            </div>
        </div>
    </div>