<div class='' id="solution" style="padding-top:95px; padding-bottom:95px">
    <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
        </br>
        <div class="center-text">
            <h1 class="header-black" style="margin:0px 0px 30px 0px text-align:center">
                Introducing MFAsT &#8482
            </h1>
        </div>



        <div class="span10 offset2" >
            <div class="span3" style="padding:0px 0px 0px 0px">
                <p class="header-white-large" style="margin:20px 0px 20px 0px; color:black; text-align:normal">
                MFAsT is efficient and clinically validated.
                </p>
                <br>
                <p class="standardText">
                    Range of motion evaluation automatically correlates to activities of daily life (ADL).</p>
                <p class="standardText">
                    Diagnostic software delivers an intuitive 3D graph of patients’ function and improvement to make assessments more engaging and therapy more compelling.</p>
            </div>

            <div class="span6" style="margin: 20px 30px 20px 30px; padding: 0px 0px 0px 0px; background:#3e454c; height:330px">
                <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                    <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                    <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                </video>
            </div>
        </div>
        <div id="icon-filler" class="span10 offset2" style="padding:20px 0px 0px 0px">
                <div class="span3" style="background:#3e454c; height:300px">
                </div>
                <div class="span3" style="background:#3e454c; height:300px; margin-left:30px; margin-right:30px">
                </div>
                <div class="span3" style="background:#3e454c;  height:300px">
                </div>
        </div>
        

        <div class="span10 offset2" >
            <div class= "span3" style="padding: 0px 0px 0px 0px">
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Fast.</p>

                <p class="standardText">
                    20+ minutes to see more patients or focus on patient care.
                </p>
            </div>
                

            <div class= "span3" style="margin: 0px 30px 0px 30px; padding: 0px 0px 0px 0px">
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal"> Less Paperwork,Seamless, Streamlined</p>

                <p class="standardText">
                    Patients and therapists interact with clinical data like never before.</p>
                <p class="standardText">
                   Point of care data autopopulates billing, insurance forms, progress notes, and referal letters.
                </p>
               
            </div>

            <div class= "span3" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px">
                <p class= "header-white-small" style="margin: 25px 0px 20px 0px; color:black; text-align:center; font-weight:normal">Engaging.</p>
                <p class="standardText">
                    Interact with collected data like never before. See visual representations of a patient's
                    usuable workspace. </p>
                <p class="standardText">Easily identify the practical implications of the data collected.</p>   
            </div>
        </div>
    </div>

</div>