<div class="splash-3"style="padding-top:95px; padding-bottom:95px">
    <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
        </br>
        <div class="span11 center-text" style="padding: 0 0 0 15%">

            <h1 class="header-white" style="margin-top:0px">
                Want to learn more? Check out a complete technological breakdown of the MFAsT
            </h1>
            <a href="http://www.google.com" class="scroll btn btn-large btn-centered span3 offset4 splash-1" style="padding-top:10px;background:#196494"><p class="header-white-small" style="font-size:20pt; font-weight:bold; background:#196494">Here</p></a>
        </div>
    </div>
</div>