<div class="splash-2" id="problem" style="padding:30px 0 30px 0; ">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px; ">
            </br>
            <div class='portion-container'>
            <div class="center-text">
                <h1 class="header-black-large" style=" text-align:center" style="margin-top:0px">
                    Problems slowing down physical therapy.
                </h1>
            </div>
            </div>


            <div id="icon-filler" class="portion-container" >
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-03.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-06.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
                <div style="  width:28%; margin:0 2% 0 2%; display:inline-block">
                    <%= image_tag('icons/PatientsInfographic-08.png', :size => '275x275', :style=>  'margin-left:40px; margin-right:auto')%>
                </div>
            </div>

            <div class="portion-container" style="padding-top:0px">
            <div class= "third">
                <p class= "header-white-small" style="margin: 0px 0px 20px 0px; color:black; text-align:center; font-weight:normal">1. Too many patients. <br>Too few physical therapists.</p>
            </div>
            <div class= "third">
                <p class= "header-white-small" style="margin: 0px 0px 20px 0px; color:black; text-align:center; font-weight:normal">2. Current process is outdated.</p>
            </div>
            <div class= "third">
                <p class= "header-white-small" style="margin: 0px 0px 20px 0px; color:black; text-align:center; font-weight:normal">3. Coding, reporting, and billing.</p>
            </div>
        </div>


            <div class="portion-container" style="padding-top:0px">
                <div class= "third">
                    
                    <p class="standardText">
                       <span style="font-weight:bold"> 2004:</span><br>Outpatients: 3.7 million <br>Physical Therapists: 148,000</p>
                    <p class="standardText"><span style="font-weight:bold">2013:</span><br>Outpatients: 5.4 million <br>Physical Therapists: 158,000
                    </p>
                </div>
                

                <div class= "third" style="margin:0 0 0 2%">
                    
                    <p class="standardText">
                        The goniometer is an outdated medical tool. It inhibits the speed of data collection, as each joint's range of motion must be manually measured.</p>
                    <p class="standardText">
                        It can take 30 minutes to collect *full body range of motion data*.
                    </p>
                   
                </div>

                <div class= "third" >
                   
                    <p class="standardText">
                        In 2013, CMS mandated quantified measurement and functional status reports for payment. </p>
                    <p class="standardText">Medical records and insurance forms quickly make for an inefficient and labor intensive distribution.</p>   
                </div>
            </div>

            <div class="portion-container" style="padding-bottom:0px" >

                <div class="center-text">
                <h1 class="header-black-large" style=" text-align:center;margin-top:0px;margin-bottom:0px">
                    It's time for change.
                </h1>
                </div>
            </div>
            <div class="portion-container" style="height:320px;padding-top:0px">
               
                    <div class="half" style="height:320px;">
                    <p class= "header-white-small" style="margin: 0px 0px 20px 0px; color:black;">
                        Our clinical solutions have been invented and validated by experts in physical medicine & rehabilitation, telehealth, computer and electrical engineering, and orthopedic medical devices.</p>
                    <br>
                       
                    </div>

                <div class="half" style="height:320px;">
                    <%= image_tag('logos/transparent.gif', :style=> 'display:inline-block;margin-left:20%; padding-bottom:250px') %>
                    
                </div>
            </div>
        </div>
    </div>