<div id="home" class=" splash-1" style="padding-bottom:95px">
        <div class="row-fluid container">
            </br>
            <div class="center-text">
                <p class="header-white" style="margin:0px 0; font-size:38px;">
                    Making physical therapy more efficient.
                </p>
                <p class="header-white" style="margin:20px 0; font-size:20 pt; font-weight:bold">•••</br>
                Kinect enabled digital health tools promise more physical therapy at a lower cost</p>
                <div class="span8 offset2" style="padding-top:20px">
                    <p class="standard-text" style="color:white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque eget libero a congue. Vivamus arcu orci, tempus sed nunc consectetur, laoreet imperdiet massa. Praesent nec ultrices dui, eu pellentesque libero.
                </p>
                </div>
            </div>
        

            <div id="selling-points" style="margin-right:150px; margin-left:150px">


                <div style="pull-left">
                     <div class="span5">
                        <ul class="big-list">
                          <li style="margin-top:10px;"><i class="icon-bolt"></i><p class="header-white standardText" style="font-size:20pt; font-weight:bold ">10x faster</p></li>
                          <li style="margin-top:10px"><i class="icon-group"></i><p class="header-white standardText" style="font-size:20pt; font-weight:bold ">See more patients</p></li>
                          <li style="margin-top:10px"><i class="icon-time"></i><p class="header-white standardText" style="font-size:20pt; font-weight:bold ">More treatment time</p></li>
                          <li style="margin-top:10px"><i class="icon-credit-card"></i><p class="header-white standardText" style="font-size:20pt; font-weight:bold ">Easy to learn & affordable</p></li>
                          
                          <li style="margin-top:10px"><i class="icon-user-md"></i><p class="header-white standardText" style="font-size:20pt; font-weight:bold ">Clinically validated</p></li>
                        </ul>
                    </br>
                        <a href="#problem"class="scroll btn btn-large btn-centered"><p class="header-white standardText" style="font-size:20pt; font-weight:bold "><i class="icon-caret-down"></i> Learn more</p></a>
                    </div>
                </div>


                <div style="pull-right">
                    <div class="span4">
                        <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" >
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                        </video>
                    </div>
                </div>


                 
            </div>
        </div>
	</div>