<div id="team" class="splash-2" style="padding: 95px 0 95px 0">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br> 
            <h1 class="header-black" style="padding-left:15%; margin-top:0px">
                Who we are and how it all got started.
            </h1>

            <div class="portion-container" >
                <div class="third" style="width:40%">
                
                    <p class="standardText">
                        The MFAsT grew from the ideas and inventions of Dr. Jay Han and Dr. Gregorij Kurillo at UC Davis & UC Berkeley.  In 2007, they had transformed the state-of-the-art motion capture technology used in film and video-games into an accessible and portable tool to accurately measure a joint’s range-of-motion and function.  After the release of Microsoft’s Kinect, this “motion and function assessment tool” became more affordable and accessible.  Dr. Kourosh Parsapour, an associate of Dr. Han’s from UC Davis’ Center for Health & Technology, and Bill Spath formed 5plus with MFAsT as the flagship product to provide better physical therapy at a lower cost to both therapists and patients.   Each founder brings a unique set of skills and expertise united with a common goal to transform health care as the premier provider of digital health solutions for physical therapy.</p>
                    <br>
                        <p class="standardText">
                        Muscle strength is often rated on a scale of 0-5.  Reflexes are often graded by a series of + signs which are used to assess the health of the nervous system.  As 5+ has come to signify the best neuromusculoskeletal health in shorthand, 5plus strives to be the best in class company serving the needs of the payers, providers, and patients. </p>
                </div>

                <div class="two-third" style="width:50%" >
                    <video id="the-video" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="719" height="422" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize="fit" >
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
                        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
                    </video>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>


            <div class="portion-container">
                
                <div id="team1">
                        <p class="header-white-medium" style="color:black; padding:0px 0px 20px 0px"> Founding Team</p>
                        <div id="founders"a >
                            <%= render "/staticpages/foundingTeam" %>
                        </div>
        
                </div>
            </div>    
        </div>
    </div>