<div class="splash-4" style="padding-top:30px; padding-bottom:30px; min-width:1350px;">
    <div class="row-fluid container splash-4g" style="padding-top:0px; padding-bottom:0px">
        </br>
        
        <div class="portion-container" style="text-align:center; margin-left:auto; margin-right:auto">

            <h1 class="header white" style="margin-top:0px; text-align:center">
                Keep up to date with 21st century healthcare.
            </h1>
        </div>
        <div class="span10 offset2" >
            <%= form_for(@subscriber, :remote => true, url:{action:"create", controller:"subscribers"}) do |f| %>
             <%= f.text_field :email, placeholder:"name@example.com", :class => '', :style => 'height:40px; margin-left:10%; width:50%; border-radius:0px;' %>
             
             <button class='btn-centered button orange-button' type='submit' id='submit-subscribe' style= "margin-bottom: 3px; width:20%; max-width:260px; padding:0 0 0 0; display:inline-block; border:0; background-color:#ff7f66">
                <p class="header-small white button-text">Subscribe</p>
              </div>

            <% end%>
        </div>

        <div class="inner-page row-fluid" id="subscribe-confirmed" style="display:none">
        <div class="alert alert-success" style="text-align:center">
          <button type="button" class="close" data-dismiss="alert"></button>
          <strong>Thanks for subscribing!</strong> We'll keep you up to date on our latest and greatest.
        
      </div>
      </div>
    </div>
</div>
