<head>
	<meta charset="utf-8">
    <title>FivePlus</title>
    

    <script type="text/javascript" src="//cdn.sublimevideo.net/js/eunrkkbu.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <style> 
    	.header {

    		font-family: 'Roboto', sans-serif;
    	}

    	.standardText{
    		font-family: 'Open Sans', sans-serif;
    	}

    	.black {
    		color:black;
    	}

    	.rory-nav-text {
    		padding-top:15px; 
    		font-size:125%
    	}

    	.splash-1 {
    		background-color: #7ecefd;
    		-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
 			background-size: cover;
    	}
    </style>


     <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }

    </script>


</head>

 <%= render "/staticpages/navbar" %>


	<div id="home" class=" splash-1">
		<p>herrok</p>
	</div>

	
