<head>
	<meta charset="utf-8">
    <title>FivePlus</title>
    

    <script type="text/javascript" src="//cdn.sublimevideo.net/js/eunrkkbu.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <style> 

   
    	.header-black {

    		font-family: 'Roboto', sans-serif;
            color:black;
    	}

        .header-white {

            font-family: 'Roboto', sans-serif;
            color:white;
        }
    	.standardText{
    		font-family: 'Open Sans', sans-serif;
            font-size: 16pt;
    	}

    	.black {
    		color:black;
    	}

    	.rory-nav-text {
    		padding-top:15px; 
    		font-size:125%
    	}

    	.splash-1 {
    		background: #7ecefd;

    	}

        .splash-2 {
            background: #fff6e5;
          
        }

        .center-text {
            text-align: center
        }
    </style>


     <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }

    </script>


</head>

 <%= render "/staticpages/navbar" %>

<body>
    <%= render "/staticpages/part1" %>
	
    <div class="splash-2" id="problem" style="padding-top:95px; padding-bottom:95px">
        <div class="row-fluid container" style="padding-top:0px; padding-bottom:0px">
            </br>
            <div class="center-text">
                <h1 class="header-black" style="margin:0px 0">
                    The Problem
                </h1>
            </div>
        </div>
    </div>

</body>

	
